
<main>
    {{#if products.length}}
        <div class="grid">
            <ul>
            {{#each products}}
         <li>{{this.title}} ({{this.quantity}})

            <form method="POST" action="/shop/delete-item">
            <input type="hidden" name="id" value="{{this._id}}" />
                <button class="btn" type="submit">Delete</button>
            </form>
         </li>
        
            {{/each}}
            </ul>
        </div>
        <div>
            <form method="POST" action="/shop/create-order">
            {{!-- <input type="hidden" name="id" value="{{this._id}}" /> --}}
                <button class="btn" type="submit">Order Now</button>
            </form>
        </div>
    {{else}}
        <h1>No products found!</h1>
    {{/if}}
</main>
